* {
	box-sizing: border-box;
}


body {
	background: #fff;
	font-family: arial, sans-serif;
	
}

h2 {
	color: #785616;
	font-weight: normal;
	margin-bottom: 10px;
}

#wrapper {
	margin: 20px auto;
	width: 800px;
}

/********* NAVIGATION *********/

nav {
	background: #FFB4B0;
	border: 2px solid black;

}

nav ul {
	list-style-type: none;
}

nav ul li{
	display: inline;
}

nav ul li a {
	padding: 10px;
}


/********* MAIN CONTENT *********/


main, aside {
	float: left;
	margin-top: 10px;
	min-height: 400px;
}

aside {
	width: 250px;
	background: #4DD7FA;
	border: 2px solid black;
	padding: 15px;
}	

main {
	width: 540px;
	background: #FEFAC0;
	border: 2px solid black;
	margin-left: 10px;
	padding: 20px;

}

main ul {
	list-style-type: none;
	padding: 0;
	margin:0;
}

main ul li {
	border-right: 1px solid black;
	display: inline;
	margin: 0;
	padding: 0 10px 0 0;
}

main ul li + li {
	padding: 0 10px;
}

main ul li:last-child {
	border: 0;
}

form {
	margin: 50px 0 0 200px;
}

form input {
	margin: 10px 0;
}


/********* SIDEBAR *********/

.placeholder {
	height: 15px;
	background: white;
	margin-bottom: 20px;
}


fieldset {
	border: 0;
	margin: 10px 0;
}

aside label {
	display: block;
}

aside select {
	margin: 0 0 20px 0;
}

fieldset label {
    display: block;
    vertical-align: middle;
    padding: 5px 0;
}

aside input {
    margin: 0 0 10px 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.halfWidth {
	width: 50%;
	float: left;
}

button {
	text-align: center;
	padding: 5px;
	margin: 10px 0;
}


/********* FOOTER *********/